/* * { border: 0.1em solid black; } */

#body{
    background-color: black;
}

.container{
position: absolute;
left: 300px;
}

.superior{
    position: relative;
    left: 300px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    height: 100px;
    width: 250px;
}

.recta{
    position: relative;
    border: solid black 0.1em;
    height: 50px;
    width: 150px;
    left: 0;
    right: 0;
    top: 10px;
    bottom: 0;
    margin: 0 auto;
}


.recuadro{
    flex-grow: 7;
    display: flex;
    border: 0.1em solid black;
    justify-content:center;
    column-gap: 20px;
    font-size: 1.3em;
    margin-left: 100px;
    

}

.box{
    display: flex;
}

.container1{
    height: 2600px;
    width: 1850px;
    position: absolute;
    margin-top: 150px;
    background-color: #424242;
}

.container2{
    position: absolute;
    z-index: 1000;
    background-color: white;
    margin-left: 300px;
    margin-top: 50px;
    height: 2050px;
    width: 1200px;
}

.informacion{
    position:relative;
    top: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    width: 1500spx;
    margin-left: 50px;
    align-content: stretch;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    grid-auto-rows: 100px;
}

.a1{
    position: absolute;
    background-color: chartreuse;
    display: grid;
    grid-column: 1/ 3;
    grid-row: 1 / 3;
    margin-left: 100px;
    height: 600px;
    width: 600px;
    font-size: 30px;
    border-radius: 2%;
}

.a2{
position: absolute;
background-color: red;
margin-left: 800px;
height: 300px;
width: 300px;
border-radius: 2%;
font-size: 25px;
}

.a3{
margin-top: 320px;
margin-left: 800px;
height: 400px;
width: 300px;
background-color: lightcoral;
border-radius: 2%;
font-size: 18px;
}



.informacion1{
    position: relative;
    top: 1050px;
    bottom: 0;
    left: 100px;
    right: 0;
    height: 100px;
    width: 1525px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    grid-auto-rows: 100px;
    align-content: stretch;
}

.b1{
    position: absolute;
    height: 400px;
    width: 300px;
    background-color: gray;
    border-radius: 2%;
}

.b2{
    position: absolute;
    margin-left: 370px ;
    height: 400px;
    width: 300px;
    background-color: orangered;
    border-radius: 2%;
}

.b3{
    margin-left: 750px;
    position: absolute;
    height: 400px;
    width: 300px;
    background-color: cyan;
    border-radius: 2%;
}

.b4{
    position: absolute;
    background-color: yellow;
    margin-top: 450px;
    height: 400px;
    width: 300px;
    border-radius: 2%;
}

.b5{
    margin-left: 370px ;
    position: absolute;
    background-color: black;
    margin-top: 450px;
    height: 400px;
    width: 300px;
    color: white;
    border-radius: 2%;
}

.b6{
    margin-left: 750px;
    position: absolute;
    background-color: lightsalmon;
    margin-top: 450px;
    height: 400px;
    width: 300px;
    border-radius: 2%;
}

.datos{
    position: absolute;
    width: 1525px;
    height: 500px;
    top: 2050px;
    bottom: 0;
    left: 0;
    right: 0;
}

.correo{
    width: 1200px;
    height: 500px;
    border: solid black 0.1em;
    background-color: black ;
}

.rectangulo{
    margin-top: 50px;
    margin-left: 250px;
    height: 100px;
    width: 1000px;
    color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carrousel{
    position: absolute;
    width: 100%;
    margin-top: 670px ;
}

.conteCarrousel{
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.itemCarrousel{
    position: relative;
    width: 100%;
    height: 100%;
}

.itemCarrouselTarjeta{
    width: 100%;
    height: 100%;
}

.itemCarrouselArrows{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px; 
}

.itemCarrouselArrows > i:hover {
    cursor: pointer;
}

#itemCarrousel-1{
    background-color: rgb(226, 50, 50);
}

#itemCarrousel-2{
    background-color: rgb(50, 200, 226);
}

#itemCarrousel-3{
    background-color: rgb(200, 226, 50);
}

#itemCarrousel-4{
    background-color: rgb(117, 50, 226);
}

#itemCarrousel-5{
    background-color: rgb(226, 50, 211);
}

.conteCarrouselController{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.conteCarrouselController > a{
    text-decoration: none;
    font-size: 2em;
    color: grey;
}

.itemCarrouselArrows > a > i{
    color: white;
}

.conteCarrousel{
    height: 300px;

}

@media (max-width:600px){
    
}